html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
}

#header {
    position: sticky;
    top: 0;
    min-height: 100px;
    max-height: 200px; 
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-img {
    width: 220px;
    height: 100px;
    object-fit: cover;
}

figcaption a {
    color: aliceblue;
    display: block;
    font-size: 1.9rem;
    text-decoration: none;
    text-align: center;
}

#nav-bar ul {
    display: flex;
    list-style: none;
    padding-top: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: aliceblue;
    margin-right: 6rem;
    font-size: 2.7rem;
    font-family: "Pirata One",  Creepster, sans-serif;
}

#register {
    max-width: 500px;
    margin: auto;
    padding: 4rem;
    scroll-margin-top: 144px;

}

#register h1 {
    font-size: 4.5rem;
    font-family: "Pirata One",  Creepster, sans-serif;
    text-align: center;
    margin: auto;
}

label, label p {
    font-size: 2.6rem;
    margin: 0;
    text-align: center;
}

input {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    font-size: large;
}

#submit{
    width: 30%;
    margin: 2rem auto 0 auto;
    display: block;
}

#about {
    background: black;
    scroll-margin-top: 144px;
    padding-bottom: 3rem;
}

#about h2 {
    font-size: 4rem;
    font-family: "Pirata One",  Creepster, sans-serif;
    text-align: center;
    color: aliceblue;
    margin: 0;
    padding-top: 3rem;
}

section form hr:last-of-type {
    margin-top: 2rem;
}

video {
    display: block;
    margin: auto;
    padding-bottom:2rem;
    border-radius: 10%;
}

figcaption {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
    color: white;
    padding-bottom: 3rem;
}

.fp {
    display: flex;
    justify-content: space-between;
    max-width: 740px;
    margin: 0px auto;
}

#p {
    margin: 0;
}
#f {
    margin: 0;
}

#p, #f {
    font-size: 3rem;
}


article {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3rem;

}

article ul {
    font-size: 2.2rem;
    margin: auto;
    font-family: Georgia;
    background-color: gray;
    border-radius: 10px;
    max-width: 200px;
    text-align: start;
    /* border: 3px solid rgb(194, 61, 52);
    box-shadow: -5px -5px 3px rgb(194, 61, 52); */
}

article ul li {
    list-style: none;
    margin-bottom: 2rem;
    color: #000000;
}

h3 {
    color: aliceblue;
    display: inline;
}

#shop-head {
    font-family: "Pirata One",  Creepster, sans-serif;
    font-size: 4rem;
    text-align: center;
}

#shop {
    display: flex;
    max-width: 1000px;
    margin: auto;
    scroll-margin-top: 164px;
}

.product {
    flex: 1;
    /* border: 1px solid red; */
    min-height: 200px;
}

.product-one, .product-two {
    border-right: 3px solid ;
}

fieldset {
    border: 3px solid rgb(63, 21, 9);
}

.product header h3 {
    color: #000000;
    font-size: 2.7rem;
    text-align: center;
    display: block;
    margin: auto;
    font-weight: 400;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-family: sans-serif, serif;

}

.product h4, .product h5, .product button, .product a {
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 1rem;
}

.product h4 {
    font-size: 3rem;
}

.product h5 {
    font-size: 2rem;
}

.product button {
    background-color: rgb(63, 21, 9);
    color: aliceblue;
    border: none;
    border-radius: 4px;
    font-size: 2rem;
    font-family: sans-serif, serif;
}

.product button:hover {
    background-color: rgb(29, 135, 228);
    cursor: pointer;
}

.product a {
    font-size: 2.5rem;
    color: rgb(63, 21, 9);
}

@media (max-width: 1200px) {
    video {
        width: 800px;
    }
}
@media (max-width: 950px) {
    video {
        width: 500px;
    }
}
@media (max-width: 580px) {
    video {
        width: 200px;
    }
}

.container {
    margin-top: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}

.nr {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 5%
}
.nr {
    transition: transform .5s ease;
}
.nr:hover {
    transform: scale(1.1);
}


#gallery-head h3 {
    font-size: 4rem;
    font-family: "Pirata One",  Creepster, sans-serif;
    /* text-align: center; */
    display: block;
    padding-top: 3rem;
    color: black;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
}

footer {
    margin-top: 5rem;
    min-height: 100px;
    background-color: #000000;
}

.author {
    color: gainsboro;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
.social {
    color: red;
    background-color: red;
    display: grid;
    font-size: 3rem;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
}